<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{{name}} | Tech Radar {{version}}</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
    <nav class="navbar" role="navigation">
      <ul class="breadcrumb">
        <li><a href="../index.html" class="breadcrumb">Tech Radar</a><i class="fa fa-angle-right"></i></li>
        <li><a href="../{{quadrant.dirname}}.html" class="breadcrumb">{{quadrant.name}}</a><i class="fa fa-angle-right"></i></li>
        <li class="active">{{name}}</li>
      </ul>
    </nav>
    <div class="container">
      <div class="row">
        <div class="entry-container">
          <h1>{{name}}</h1>
          {{#if logo}}
            <img src="{{logo}}" alt="{{name}}" class="entry-logo">
          {{/if}}
        </div>
      </div>
      <div class="row">
        <div class="badges">
          <span class="badge {{blip.ringName}}"><i class="fa fa-map-marker"></i> {{blip.ringName}}</span>
          <span class="badge">Since <i class="fa fa-tag"></i> {{blip.since}}</span>
          {{#unless blip.active}}
          <span class="badge inactive"><i class="fa fa-warning"></i> Inactive</span>
          {{/unless}}
        </div>
        <div class="twelve.columns">
          {{{markdown description}}}
        </div>
        {{#if rationale}}
          <h2>Rationale</h2>
          {{{markdown rationale}}}
        {{/if}}
        {{#if related}}
          <h2>Related</h2>
          <ul>
          {{#each related}}
            <li><a href="{{file}}">{{name}}</a></li>
          {{/each}}
          </ul>
        {{/if}}
        {{#if blip.history}}
        <h2>History</h2>
        <ul>
          {{#each blip.history}}
          <li><i class="fa fa-tag"></i> {{version}} - {{ringName}}</li>
          {{/each}}
        </ul>
        {{/if}}
      </div>
    </div>
  {{>footer}}
</body>
</html>
