<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{{name}} | Tech Radar v{{version}}</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link rel="stylesheet" type="text/css" href="/style/main.css">
</head>
<body>
    <nav class="navbar" role="navigation">
      <ul class="breadcrumb">
        <li><a href="../index.html" class="breadcrumb">Radar v{{version}}</a><i class="fa fa-angle-right"></i></li>
        <li class="active">{{name}}</li>
      </ul>
    </nav>
    <div class="container">
      <h1>{{name}}</h1>
      <p>
        Archive of previous Tech Radars.
      </p>
      <ul>
        {{#each versions}}
          <li><a href="/archive/{{version}}/index.html">Version {{version}}</a>, {{created}}</li>
        {{/each}}
      </ul>
    </div>
  {{>footer}}
</body>
</html>
