<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{{name}} | Tech Radar {{version}}</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link rel="stylesheet" type="text/css" href="/style/main.css">
</head>
<body>
    <nav class="navbar" role="navigation">
      <ul class="breadcrumb">
        <li><a href="index.html" class="breadcrumb">Radar {{version}}</a><i class="fa fa-angle-right"></i></li>
        <li class="active">{{name}}</li>
      </ul>
    </nav>
    <div class="container">
      <h1>{{name}}</h1>
      <div class="row">
        <div class="one-half column">
          <h2>Adopt</h2>
          <ul class="adopt">
          {{#each adopt}}
            <li><a href="{{file}}">{{name}}</a></li>
          {{/each}}
          </ul>
        </div>
        <div class="one-half column">
          <h2>Assess</h2>
          <ul class="assess">
          {{#each assess}}
            <li><a href="{{file}}">{{name}}</a></li>
          {{/each}}
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="one-half column">
          <h2>Trial</h2>
          <ul class="trial">
          {{#each trial}}
            <li><a href="{{file}}">{{name}}</a></li>
          {{/each}}
          </ul>
        </div>
        <div class="one-half column">
          <h2>Hold</h2>
          <ul class="hold">
          {{#each hold}}
            <li><a href="{{file}}">{{name}}</a></li>
          {{/each}}
          </ul>
        </div>
      </div>
  </div>
  {{>footer}}
</body>
</html>
